$color-1: #0C356A;
$color-2: #0174BE;
$color-3: #FFC436;
$color-4: #222831;
$color-5: #FFF0CE;
$green-color: #00a000;
$white-color: #ffffff;
$black-color: #000;
$red-color: #ff0000;
$grey-color-1: #80868b;
$grey-color-2: #dadce0;
$grey-color-3: #f3f5f7;
$gold-color: #d4af37;

// reserve color
// #6dcdb1
// #009578
